@model Person
@{
    List<Person> persons = ViewBag.Persons;
}

<form method="post" asp-action="CreateAspNet" style="margin-top: 10px;">
    <div class="row">
        <div class="col col-45">
            <label asp-for=Name class="label-style">Name:</label>
            <input asp-for=Name class="input-style person-name" type="text" maxlength="50" placeholder="Enter the name..." required />
        </div>
        <div class="col col-45">
            <label asp-for=Surname class="label-style">Surname:</label>
            <input asp-for=Surname class="input-style person-surname" type="text" maxlength="50" placeholder="Enter the surname..." required />
        </div>
    </div>
    <div class="row">
        <div class="col col-45">
            <label asp-for=Age class="label-style">Age:</label>
            <input asp-for=Age class="input-style person-age" type="number" min="0" max="100" placeholder="Enter the age..." value="0" />
        </div>
        <div class="col col-45">
            <label asp-for=Profession class="label-style">Profession:</label>
            <input asp-for=Profession class="input-style person-profession" type="text" placeholder="Enter the profession..." />
        </div>
    </div>
    <div class="row">
        <div class="col col-45">
            <button class="btn-style jsBtn" style="background-color:darkorange;">Send using JS</button>
        </div>
        <div class="col col-45">
            <button type="submit" class="btn-style" style="background-color:lightskyblue;">Send using ASP.NET</button>
        </div>
    </div>
</form>

<div>
    <table id="mainTable" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Age</th>
                <th>Profession</th>
                <th>Sent By</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in persons)
            {
                <tr>
                    <td>@person.Id</td>
                    <td>@person.Name</td>
                    <td>@person.Surname</td>
                    <td>@person.Age</td>
                    <td>@(person.Profession == null ? "-" : person.Profession)</td>
                    <td style="font-weight: 700; @(person.SentByJS == true ? "background-color: darkorange;" : "background-color:lightskyblue;")">@(person.SentByJS == true ? "JavaScript" : "Asp.Net")</td>
                </tr>
            }
        </tbody>
    </table>
    <hr />
</div>


@section Scripts {
    <script>
        var sendJsBtn = document.querySelector(".jsBtn");
        sendJsBtn.addEventListener("click", function (event) {
            event.preventDefault();

            var name = document.querySelector(".person-name").value.trim();
            var surname = document.querySelector(".person-surname").value.trim();
            var age = document.querySelector(".person-age").value;
            if (!name || !surname || age < 0 || age > 100) {
                alert("Fill all required fields. Age must stay between 0 and 100!");
                return;
            }

            var profession = document.querySelector(".person-profession").value;

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/Home/CreateJavaScript", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status >= 200 && xhr.status < 300) {
                    var response = JSON.parse(xhr.responseText);
                    if (response.success) {
                        window.location.reload();
                    } else {
                        alert("Error saving data.");
                    }
                }
            };

            var data = "name=" + encodeURIComponent(name) +
                "&surname=" + encodeURIComponent(surname) +
                "&age=" + encodeURIComponent(age) +
                "&profession=" + encodeURIComponent(profession);
            xhr.send(data);
        });
    </script>
}
