@model Person
@{
    List<Person> persons = ViewBag.Persons;
}

<form method="post" asp-action="CreateAspNet" style="margin-top: 10px;">
    <div class="row">
        <div class="col col-45">
            <label asp-for=Name class="label-style">Name:</label>
            <input asp-for=Name class="input-style person-name" type="text" maxlength="50" placeholder="Enter the name..." required />
        </div>
        <div class="col col-45">
            <label asp-for=Surname class="label-style">Surname:</label>
            <input asp-for=Surname class="input-style person-surname" type="text" maxlength="50" placeholder="Enter the surname..." required />
        </div>
    </div>
    <div class="row">
        <div class="col col-45">
            <label asp-for=Age class="label-style">Age:</label>
            <input asp-for=Age class="input-style person-age" type="number" min="0" max="100" placeholder="Enter the age..." value="0" />
        </div>
        <div class="col col-45">
            <label asp-for=Profession class="label-style">Profession:</label>
            <input asp-for=Profession class="input-style person-profession" type="text" maxlength="30" placeholder="Enter the profession..." />
        </div>
    </div>
    <div class="row">
        <div class="col col-45">
            <button class="btn-style jsBtn" style="background-color:darkorange;">Send using JS</button>
        </div>
        <div class="col col-45">
            <button type="submit" class="btn-style" style="background-color:lightskyblue;">Send using ASP.NET</button>
        </div>
    </div>
</form>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Age</th>
                <th>Profession</th>
                <th>Sent By</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in persons)
            {
                <tr>
                    <td>@person.Id</td>
                    <td>@person.Name</td>
                    <td>@person.Surname</td>
                    <td>@person.Age</td>
                    <td>@(person.Profession == null ? "-" : person.Profession)</td>
                    <td style="font-weight: 700; @(person.SentByJS == true ? "background-color: darkorange;" : "background-color:lightskyblue;")">@(person.SentByJS == true ? "JavaScript" : "Asp.Net")</td>
                </tr>
            }
        </tbody>
    </table>
    <hr />
</div>

<div style="margin-top: 10px;">
    <h2>Enter your HTML markup here</h2>
    <form method="post" asp-action="HtmlMarkup">
        <textarea style="width: 100%; height: 100px;" id="enteredHtml" name="markup">@(ViewBag.HtmlMarkup == null ? "" : ViewBag.HtmlMarkup)</textarea>

        <div class="row">
            <div class="col col-35">
                <button type="button" class="btn-style jsMarkupBtn" style="background-color:darkorange;">Send using JS</button>
            </div>
            <div class="col col-35">
                <button type="submit" class="btn-style" style="background-color:lightskyblue;">Send using ASP.NET</button>
            </div>
            <div class="col col-20">
                <button type="button" class="btn-style clearMarkup" style="background-color:orangered;">Clear markup</button>
            </div>
        </div>
    </form>
</div>
<h2 style="margin-top: 20px;">Your HTML markup will be displayed here</h2>
<div id="displayHtml" style="border: 1px solid black; height: 100px; margin-bottom: 10px; padding: 10px;">
    @Html.Raw(ViewBag.HtmlMarkup ?? "")
</div>


<div style="margin:20px 0px;">
    <h2 style="margin-bottom:10px;">Execute the SQL query</h2>
    <a asp-controller="Home" asp-action="QueryData" class="btn-style" style="text-decoration:none;color:black;background-color:lightcyan;">Execute</a>
</div>

@section Scripts {
    <script>
        var sendJsBtn = document.querySelector(".jsBtn");
        // var counter = 1;
        sendJsBtn.addEventListener("click", function (event) {
            event.preventDefault();

            var name = document.querySelector(".person-name").value.trim();
            var surname = document.querySelector(".person-surname").value.trim();
            var age = document.querySelector(".person-age").value;
            if (!name || !surname || age < 0 || age > 100) {
                alert("Fill all required fields. Age must stay between 0 and 100!");
                return;
            }

            var profession = document.querySelector(".person-profession").value;

            // The first way (just passing it to tbody (won't be added to db))
            @* var tbody = document.querySelector(".table tbody");
            var tr = document.createElement("tr");

            var td1 = document.createElement("td");
            td1.innerText = @persons.Count + ++counter;
            tr.appendChild(td1);

            var td2 = document.createElement("td");
            td2.innerText = name;
            tr.appendChild(td2);

            var td3 = document.createElement("td");
            td3.innerText = surname;
            tr.appendChild(td3);

            var td4 = document.createElement("td");
            td4.innerText = age;
            tr.appendChild(td4);

            var td5 = document.createElement("td");
            td5.innerText = (profession == null || profession === "") ? "-" : profession;
            tr.appendChild(td5);

            var td6 = document.createElement("td");
            td6.innerText = "JavaScript";
            td6.style.fontWeight = "700";
            td6.style.backgroundColor = "darkorange";
            tr.appendChild(td6);

            tbody.appendChild(tr); *@

            // The second way (using XMLHttpRequest and passing it to CreateJavaScript action (will be added to db))
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/Home/CreateJavaScript", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status >= 200 && xhr.status < 300) {
                    var response = JSON.parse(xhr.responseText);
                    if (response.success) {
                        window.location.href = '/';
                    } else {
                        alert("Error saving data.");
                    }
                }
            };

            var data = "name=" + name +
                "&surname=" + surname +
                "&age=" + age +
                "&profession=" + profession;
            xhr.send(data);
            
        });

        var sendJsMarkupBtn = document.querySelector(".jsMarkupBtn");
        var display = document.getElementById("displayHtml");
        var entered = document.getElementById("enteredHtml");
        sendJsMarkupBtn.addEventListener("click", function (event) {
            event.preventDefault();
            display.innerHTML = entered.value;
        });
        var clearMarkup = document.querySelector(".clearMarkup");
        clearMarkup.addEventListener("click", function (event) {
            event.preventDefault();
            display.innerHTML = "";
            entered.value = "";
        });
    </script>
}
